@charset "utf-8";

    #module314 {
        height: 855px;
    }

        #module314 .fk-formContentOther {display:none;}
        #module314 .fk-formContentOtherPadding {padding-top:0;}
        
        #module314 .formBanner314 .formBannerTitle .titleCenter{display:table-cell;}
        #module314 .formBanner314 div.titleText{display:block;}
                 
            #module314[_videobg="1"] { padding-bottom: 42.10%; height: auto; }
        
    #module315 {
        height: 85px;
    }

        #module315 .formBanner315{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module315 * {
            
              
        }
    
    #module316 {
        height: 80px;
    }

    #module316 {border:none;}
    #module316 .formMiddle316{border:none;}
    #module316 .formMiddle316 .formMiddleCenter316{border:none;}
    #module316 .formTop316{display:none;}
    #module316 .formBottom316{display:none;}
    #module316 .formMiddle316 .formMiddleLeft316{display:none;}
    #module316 .formMiddle316 .formMiddleRight316{display:none;}
    
        #module316 .formBanner316{
            display:none;
        }
           
        #module316 {background:none;}
        #module316 .formMiddle316 {background:none;}
        #module316 .formMiddle316 .formMiddleCenter316{background:none;}
        #module316 .formMiddleContent316{background:none;}
    

    #module316 .floatImg .float_in_img{width:120px;}
    #module316 .floatImg .float_in_img{height:80px;}


    #module317 {
        height: 80px;
    }

    #module317 {border:none;}
    #module317 .formMiddle317{border:none;}
    #module317 .formMiddle317 .formMiddleCenter317{border:none;}
    #module317 .formTop317{display:none;}
    #module317 .formBottom317{display:none;}
    #module317 .formMiddle317 .formMiddleLeft317{display:none;}
    #module317 .formMiddle317 .formMiddleRight317{display:none;}
    
        #module317 .formBanner317{
            display:none;
        }
           
        #module317 {background:none;}
        #module317 .formMiddle317 {background:none;}
        #module317 .formMiddle317 .formMiddleCenter317{background:none;}
        #module317 .formMiddleContent317{background:none;}
    

    #module317 .floatImg .float_in_img{width:120px;}
    #module317 .floatImg .float_in_img{height:80px;}


    #module318 {
        height: 80px;
    }

    #module318 {border:none;}
    #module318 .formMiddle318{border:none;}
    #module318 .formMiddle318 .formMiddleCenter318{border:none;}
    #module318 .formTop318{display:none;}
    #module318 .formBottom318{display:none;}
    #module318 .formMiddle318 .formMiddleLeft318{display:none;}
    #module318 .formMiddle318 .formMiddleRight318{display:none;}
    
        #module318 .formBanner318{
            display:none;
        }
           
        #module318 {background:none;}
        #module318 .formMiddle318 {background:none;}
        #module318 .formMiddle318 .formMiddleCenter318{background:none;}
        #module318 .formMiddleContent318{background:none;}
    

    #module318 .floatImg .float_in_img{width:120px;}
    #module318 .floatImg .float_in_img{height:80px;}


    #module319 {
        height: 106px;
    }

        #module319 .formBanner319{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module319 * {
            
              
        }
    
    #module320 {
        height: 106px;
    }

        #module320 .formBanner320{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module320 * {
            
              
        }
    
    #module321 {
        height: 106px;
    }

        #module321 .formBanner321{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module321 * {
            
              
        }
    
    #module322 {
        height: 120px;
    }

        #module322 .formBanner322{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module322 * {
            
              
        }
    
    #module324 {
        height: 120px;
    }

        #module324 .formBanner324{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module324 * {
            
              
        }
    
    #module325 {
        height: 152px;
    }

        #module325 .formBanner325{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module325 * {
            
              
        }
    
    #module327 {
        height: 152px;
    }

        #module327 .formBanner327{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module327 * {
            
              
        }
    
    #module328 {
        height: 77px;
    }

    #module328 {border:none;}
    #module328 .formMiddle328{border:none;}
    #module328 .formMiddle328 .formMiddleCenter328{border:none;}
    #module328 .formTop328{display:none;}
    #module328 .formBottom328{display:none;}
    #module328 .formMiddle328 .formMiddleLeft328{display:none;}
    #module328 .formMiddle328 .formMiddleRight328{display:none;}
    
        #module328 .formBanner328{
            display:none;
        }
           
        #module328 {background:none;}
        #module328 .formMiddle328 {background:none;}
        #module328 .formMiddle328 .formMiddleCenter328{background:none;}
        #module328 .formMiddleContent328{background:none;}
    

    #module328 .floatImg .float_in_img{width:20px;}
    #module328 .floatImg .float_in_img{height:77px;}


    #module329 {
        height: 77px;
    }

    #module329 {border:none;}
    #module329 .formMiddle329{border:none;}
    #module329 .formMiddle329 .formMiddleCenter329{border:none;}
    #module329 .formTop329{display:none;}
    #module329 .formBottom329{display:none;}
    #module329 .formMiddle329 .formMiddleLeft329{display:none;}
    #module329 .formMiddle329 .formMiddleRight329{display:none;}
    
        #module329 .formBanner329{
            display:none;
        }
           
        #module329 {background:none;}
        #module329 .formMiddle329 {background:none;}
        #module329 .formMiddle329 .formMiddleCenter329{background:none;}
        #module329 .formMiddleContent329{background:none;}
    

    #module329 .floatImg .float_in_img{width:20px;}
    #module329 .floatImg .float_in_img{height:77px;}


    #module330 {
        height: 77px;
    }

    #module330 {border:none;}
    #module330 .formMiddle330{border:none;}
    #module330 .formMiddle330 .formMiddleCenter330{border:none;}
    #module330 .formTop330{display:none;}
    #module330 .formBottom330{display:none;}
    #module330 .formMiddle330 .formMiddleLeft330{display:none;}
    #module330 .formMiddle330 .formMiddleRight330{display:none;}
    
        #module330 .formBanner330{
            display:none;
        }
           
        #module330 {background:none;}
        #module330 .formMiddle330 {background:none;}
        #module330 .formMiddle330 .formMiddleCenter330{background:none;}
        #module330 .formMiddleContent330{background:none;}
    

    #module330 .floatImg .float_in_img{width:20px;}
    #module330 .floatImg .float_in_img{height:77px;}


    #module331 {
        height: 305px;
    }

        #module331 .fk-formContentOther {display:none;}
        #module331 .fk-formContentOtherPadding {padding-top:0;}
        
        #module331 .formBanner331 .formBannerTitle .titleCenter{display:table-cell;}
        #module331 .formBanner331 div.titleText{display:block;}
           
        #module331 .fullmeasureOuterContentPage1 .fullmeasureOuterContentBg331{
            ;
background:url(../img/AD0I1-nNBhACGAAg89OTyQUovIXNkwEwgA84sQI.jpg) no-repeat top ,transparent;
background:url(../img/AD0I1-nNBhACGAAg89OTyQUovIXNkwEwgA84sQI.jpg) no-repeat top ,transparent;

            
              
        }
          
            #module331[_videobg="1"] { padding-bottom: 42.10%; height: auto; }
        
    #module333 {
        height: 45px;
    }

        #module333 .formBanner333{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module333 * {
            
              
        }
    
    #module334 {
        height: 801px;
    }

        #module334 .fk-formContentOther {display:none;}
        #module334 .fk-formContentOtherPadding {padding-top:0;}
        
        #module334 .formBanner334 .formBannerTitle .titleCenter{display:table-cell;}
        #module334 .formBanner334 div.titleText{display:block;}
                 
            #module334[_videobg="1"] { padding-bottom: 42.10%; height: auto; }
        
    #module336 {
        height: 85px;
    }

        #module336 .formBanner336{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module336 * {
            
              
        }
    
    #module337 {
        height: 500px;
    }

    #module337 {border:none;}
    #module337 .formMiddle337{border:none;}
    #module337 .formMiddle337 .formMiddleCenter337{border:none;}
    #module337 .formTop337{display:none;}
    #module337 .formBottom337{display:none;}
    #module337 .formMiddle337 .formMiddleLeft337{display:none;}
    #module337 .formMiddle337 .formMiddleRight337{display:none;}
    
        #module337 .formBanner337{
            display:none;
        }
           
        #module337 {background:none;}
        #module337 .formMiddle337 {background:none;}
        #module337 .formMiddle337 .formMiddleCenter337{background:none;}
        #module337 .formMiddleContent337{background:none;}
    

    #module337 .floatImg .float_in_img{width:260px;}
    #module337 .floatImg .float_in_img{height:500px;}


    #module338 {
        height: 359px;
    }

        #module338 .formBanner338{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module338 * {
            
              
        }
    
    #module339 {
        height: 565px;
    }

        #module339 .fk-formContentOther {display:none;}
        #module339 .fk-formContentOtherPadding {padding-top:0;}
        
        #module339 .formBanner339 .formBannerTitle .titleCenter{display:table-cell;}
        #module339 .formBanner339 div.titleText{display:block;}
           
        #module339 .fullmeasureOuterContentPage1 .fullmeasureOuterContentBg339{
            ;
background:url(../img/AD0I1-nNBhACGAAgq76UyQUowOC6ogUwgA84tAQ.jpg) no-repeat top;
background:url(../img/AD0I1-nNBhACGAAgq76UyQUowOC6ogUwgA84tAQ.jpg) no-repeat top;

            
              
        }
          
            #module339[_videobg="1"] { padding-bottom: 42.10%; height: auto; }
        
    #module341 {
        height: 318px;
    }

        #module341 .formBanner341{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module341 * {
            
              
        }
    
    #module352 {
        height: 379px;
    }

    #module352 {border:none;}
    #module352 .formMiddle352{border:none;}
    #module352 .formMiddle352 .formMiddleCenter352{border:none;}
    #module352 .formTop352{display:none;}
    #module352 .formBottom352{display:none;}
    #module352 .formMiddle352 .formMiddleLeft352{display:none;}
    #module352 .formMiddle352 .formMiddleRight352{display:none;}
    
        #module352 .formBanner352{
            display:none;
        }
           
        #module352 {background:none;}
        #module352 .formMiddle352 {background:none;}
        #module352 .formMiddle352 .formMiddleCenter352{background:none;}
        #module352 .formMiddleContent352{background:none;}
    

    #module352 .floatImg .float_in_img{width:477px;}
    #module352 .floatImg .float_in_img{height:379px;}


    #module342 {
        height: 917px;
    }

        #module342 .fk-formContentOther {display:none;}
        #module342 .fk-formContentOtherPadding {padding-top:0;}
        
        #module342 .formBanner342 .formBannerTitle .titleCenter{display:table-cell;}
        #module342 .formBanner342 div.titleText{display:block;}
                 
            #module342[_videobg="1"] { padding-bottom: 42.10%; height: auto; }
        
    #module344 {border:none;}
    #module344 .formMiddle344{border:none;}
    #module344 .formMiddle344 .formMiddleCenter344{border:none;}
    #module344 .formTop344{display:none;}
    #module344 .formBottom344{display:none;}
    #module344 .formMiddle344 .formMiddleLeft344{display:none;}
    #module344 .formMiddle344 .formMiddleRight344{display:none;}
    
        #module344 .formBanner344{
            display:none;
        }
           
    #module347 {border:none;}
    #module347 .formMiddle347{border:none;}
    #module347 .formMiddle347 .formMiddleCenter347{border:none;}
    #module347 .formTop347{display:none;}
    #module347 .formBottom347{display:none;}
    #module347 .formMiddle347 .formMiddleLeft347{display:none;}
    #module347 .formMiddle347 .formMiddleRight347{display:none;}
    
        #module347 .formBanner347{
            display:none;
        }
           
    #module347 .g_separator{
        display:block;
        
                border-style:solid;
             
                border-color:#eaeaea;
             
                border-width:1px;
             
                border-right:none;
            
            border-top:none;
            border-left:none;
        
    }

    #module347 .formMiddle.formMiddle347 .g_hover a span, #module347 .formMiddle.formMiddle347 .g_hover a, #module347 .formMiddle.formMiddle347 .g_hover span, #module347 .formMiddle.formMiddle347 .g_hover{font-size: 16px;font-family: 微软雅黑;font-weight: normal;font-style: normal;text-decoration: blink;color: #9b9b9b;}

        
            #module347 .news_list_wrap .news_title:hover .title_content { color : #2b2b2b; }
         
            
              
             #module347 .m_news_img .news_img{ border-radius: 5px;}
              
            #module347 .news_list_wrap .news_summary {-webkit-line-clamp : 2; }
        
    #module346 {
        height: 85px;
    }

        #module346 .formBanner346{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module346 * {
            
              
        }
    
    #module428 {
        height: 40px;
    }

        #module428 .formBanner428{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module428 * {
            
              
        }
    
    #module429 {
        height: 40px;
    }

        #module429 .formBanner429{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module429 * {
            
              
        }
    
    #module431 {
        height: 40px;
    }

        #module431 .formBanner431{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module431 * {
            
              
        }
    
    #module349 {
        height: 40px;
    }

        #module349 .formBanner349{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module349 * {
            
              
        }
    
    #module350 {
        height: 90px;
    }

        #module350 .formBanner350{
            display:none;
        }
           
        
     
        .J_webHeaderTable.webHeaderFixed #module350 * {
            
              
        }
     
        .fixed_project .newPrimaryTitle, .fixed_project .newPrimaryTitle * {
            
        }

          #webHeaderTable .webHeaderTd{border-bottom:none;}

#webFooterTable {background:#2b2b2b;}
#webFooterTable {background:#2b2b2b;}
#webFooterTable .webFooter {background:none;}
#webFooterTable .footer {background:none;border-color:transparent;}
#webFooterTable .footerTop {display:none;}
#webFooterTable .middleLeft {display:none;}
#webFooterTable .middleCenter {background:none;}
#webFooterTable .footerContent {background:none;}
#webFooterTable .footerSupport {background:none;}
#webFooterTable .middleRight {display:none;}
#webFooterTable .footerBottom {display:none;}
#footer .footerContent {padding: 225px 0 60px;}
#footer .footerInfo {padding: 0 0px 0 0px;}
#footer .footerSupport {padding: 0 0px 0 0px;}
#footer .visitorCounterWrap { padding: 0 0px 0 0px;}
#webFooterTable {border: none;}
#navV2 {width:620px;}
#navV2 .navMainContent{width:100%;}
#navV2 .navContent{width:620px;}
#navV2 .navMainContent{height:100%;}
#navV2  .navCenterContent{height:100%;}
#navV2 {top:45px;}
#navV2 {left:576px;}
#navV2 {right:auto;}
#navV2 .navCenter{width:auto;}
#navV2 {max-width:1200px;}
.webBanner #navV2Wrap {text-align: left;width:1200px;}
#navV2 .navContent{max-width:1200px;}
#navV2 .item a .J_nav_item_name{position:relative;top:0;}
#navV2 .item a .J_nav_item_subname{display: none;position:relative;}
#navV2 .item {border-top-left-radius:0;}
#navV2 .item {border-top-right-radius:0;}
#navV2 .item {border-bottom-left-radius:0;}
#navV2 .item {border-bottom-right-radius:0;}
#memberBar{width:1200px;}
#topAdvForms{width:1200px;}
#bottomFloatLayerForms{width:1200px;}
#webTop{width:1200px;}
#absTopForms{width:1200px;}
.webNavDefault{width:1200px;}
.webHeader .headerNavClass{width:1200px;}
#webHeader{width:1200px;}
#absForms{width:1200px;}
div#webContainer{width:1200px;}
#absBottomForms{width:1200px;}
#webFooter{width:1200px;}
div.webNav .navMainContent{width:1200px;}
div.nav .navMainContent{width:1200px;}
.fullmeasureContent{width:1200px;}
#fk-webHeaderZone {width:1200px;margin-left:-600.0px;}
#fk-webFooterZone {width:1200px;margin-left:-600.0px;}
#fk-webBannerZone {width:1200px;margin-left:-600.0px;}
#bottomFloatLayerForms{width:100%;}
#webBanner{width:100%;}